* {
    color: lightgoldenrodyellow;
    font-family: "Courier New", Courier, monospace; 
}

body {
    margin: 0px;
    display: grid;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

.panel {
    padding: 10px;
}

#header, #footer {
    background-color: violet;
}

#main {
    background-color: plum;
    grid-area: main;
}

#sidebar {
    background-color: darkturquoise;
    grid-area: sidebar;
}

#header {
    grid-area: header;
}

#footer {
    grid-area: footer;
}

@media screen and (max-width: 600px) {

    body {
        grid-template-areas: "header" "main" "sidebar" "footer";
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-columns: 1fr;
    }
    
}
